body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: azure;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background-color: azure;
    padding: 20px 30px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0);
}

input {
    width: 100%;
    padding: 8px;
    margin: 10px 0;
}

button {
    padding: 10px 15px;
    background-color: blue;
    color: azure;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
